.chat-card .card-body {
    padding-bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    height: 300px;
}

.chat-card .card-body ul {
    position: relative;
    list-style: none;
}

.avatar {
    border: 1px solid gray;
    border-radius: 25px;
    height: 50px;
    padding-top: 13px;
    text-align: center;
    width: 50px;
}
